// Body
$body-bg                        : #212121;
$body-color                     : #f3f3f3;

// Content
$contentMaxWidth                : rem-calc(800);

// Typography
$font-family-sans-serif         : 'Open Sans', sans-serif;
$headings-font-family           : 'trashbox', 'Open Sans', sans-serif;
$font-size-base                 : rem-calc(17);
$font-size-base-sm              : rem-calc(18);
$line-height-base               : 1.7;

// Colors
$primary                        : #ff0072;
$secondary                      : #1733ff;

$blue                           : #3490dc;
$indigo                         : #6574cd;
$purple                         : #9561e2;
$pink                           : #f66d9b;
$red                            : #e3342f;
$orange                         : #f6993f;
$yellow                         : #ffed4a;
$green                          : #38c172;
$teal                           : #4dc0b5;
$cyan                           : #6cb2eb;

$white                          : #fff;
$gray-100                       : #f8f9fa;
$gray-200                       : #e9ecef;
$gray-300                       : #dee2e6;
$gray-400                       : #ced4da;
$gray-500                       : #adb5bd;
$gray-600                       : #6c757d;
$gray-700                       : #495057;
$gray-800                       : #343a40;
$gray-900                       : #212529;
$black                          : #000;

// Grid Containers
$container-max-widths           : (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px,
    xxl: 960px
);

// Border radius
$border-radius                  : rem-calc(4);
$border-radius-sm               : 0;
$border-radius-lg               : 0;
$border-radius-pill             : 0;

// Pagination
$pagination-bg                  : $gray-800;
$pagination-color               : #fff;
$pagination-border-color        : transparent;
$pagination-active-bg           : $secondary;
$pagination-active-border-color : $secondary;

// Accordion
$accordion-button-bg            : transparent;
$accordion-border-color         : $primary;
$accordion-button-active-bg     : $secondary;
$accordion-button-active-color  : $white;

// List group
$list-group-item-padding-y: rem-calc(15);
$list-group-bg                  : transparent;
$list-group-color               : $white;
$list-group-action-color        : $white;
$list-group-action-hover-color  : $white;
$list-group-hover-bg            : $primary;
$list-group-active-color        : $white;
$list-group-active-bg           : $primary;

// Form Check
$form-check-input-border: 1px solid $white;
