<template>
    <base-layout :page-title="pageTitle">
        <article v-for="chapter in book.data.chapters" :key="chapter.number">
            <div v-if="chapter.number === 0" class="mb-3">
                <h3># Intro</h3>

                <span v-for="verse of chapter.verses" v-bind:key="verse.label">
                    {{verse.text}}
                </span>
            </div>
            <template v-else>
                <h3># Kapitel {{chapter.number}}</h3>

                <vxb-text :verses="chapter.verses"/>
            </template>
        </article>
        <vxb-copyright />
    </base-layout>
</template>

<script>
    import { Link } from "@inertiajs/inertia-vue3";
    import VxbCopyright from "../components/CopyrightComponent";
    import VxbText from "../components/TextComponent";

    export default {
        components: {
            Link,
            VxbCopyright,
            VxbText
        },
        props: {
            book: Object,
        },
        computed: {
            pageTitle() {
                return this.book.data.title;
            },
        }
    };
</script>
