<template>
    <base-layout :page-title="pageTitle">
        <article>
            <template v-if="chapter.data.number == '0'">
                <div v-for="verse of chapter.data.verses" v-bind:key="verse.label">
                    {{verse.text}}
                </div>
            </template>

            <vxb-text v-else :verses="chapter.data.verses"/>
            <vxb-copyright />
        </article>

        <nav aria-label="Kapitelnavigation">
            <div class="d-flex justify-content-between mb-3">
                <Link v-if="!isFirstChapter" :href="bookRoute + (chapter.data.number - 1)" class="btn btn-outline-primary" as="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg></Link>
                <a :href="'https://docs.google.com/document/d/' + chapter.data.guid" class="btn btn-outline-primary" target="_blank" rel="noopener">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                        <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                    </svg>&nbsp;&nbsp;{{chapter.data.book.title}} {{chapter.data.number}} auf GoogleDocs bearbeiten
                </a>
                <Link v-if="!isLastChapter" :href="bookRoute + (chapter.data.number + 1)" class="btn btn-outline-primary" as="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg></Link>
            </div>

            <div class="d-flex justify-content-center mb-5">
                <a href="/" class="btn btn-light">
                    Zurück zur Übersicht
                </a>
            </div>

            <div class="d-flex justify-content-center">
                <ul class="pagination pagination-lg justify-content-center">
                    <!--<li v-if="chapter.data.book.hasIntro">
                        <Link class="page-link" :href="bookRoute + '0'">Intro</Link>
                    </li>-->
                    <li v-for="chapterNumber in chapter.data.book.chaptersCount" :class="'page-item' + (chapter.data.number === chapterNumber ? ' active' : '')">
                        <Link class="page-link" :href="bookRoute + chapterNumber">{{ chapterNumber }}</Link>
                    </li>
                </ul>
            </div>
        </nav>
    </base-layout>
</template>

<script>
    import { Link } from "@inertiajs/inertia-vue3";
    import VxbCopyright from './../components/CopyrightComponent.vue';
    import VxbText from './../components/TextComponent.vue';

    export default {
        components: {
            Link,
            VxbCopyright,
            VxbText
        },
        props: {
            chapter: Object
        },
        computed: {
            pageTitle () {
                const chapterNumber = this.chapter.data.number == 0 ? '' :  this.chapter.data.number;
                return this.chapter.data.book.title + ' ' + chapterNumber;
            },
            bookRoute () {
                return '/book/' + this.chapter.data.book.title.toLowerCase() + '/chapter/';
            },
            activeRoute () {
                return window.location.pathname;
            },
            isLastChapter () {
                return (this.chapter.data.number === this.chapter.data.book.chaptersCount);
            },
            isFirstChapter () {
                const firstChapter = this.chapter.data.book.hasIntro ? 0 : 1;
                return (this.chapter.data.number === firstChapter);
            }
        }
    };
</script>
