<template>
    <base-layout page-title="DIE VOLXBIBEL 20.X">

        <div class="alert alert-secondary" role="alert">
            <h5>Ich will mitmachen!</h5>
            <p>Um auf Google Docs mit diskutieren, kommentieren und bearbeiten zu können, schickst du uns einfach deine Google-Mail-Adresse (oder eine damit verknüpfte E-Mail-Adresse) an <a href="mailto:mitmachen@volxbibel.de">mitmachen@volxbibel.de</a></p>
        </div>

        <div v-for="(books, testament) in orderedBooks">
            <h2 v-if="testament == 'AT'">Altes Testament</h2>
            <h2 v-if="testament == 'NT'" class="mb-3 mt-5">Neues Testament</h2>

            <div class="accordion" id="at">
                <div class="accordion-item" v-for="book in books" :key="book.id">
                    <h3 class="accordion-header" :id="'heading-' + book.id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse-' + book.id" aria-expanded="false" :aria-controls="'collapse-' + book.id">
                            {{book.title}}
                        </button>
                    </h3>
                    <div :id="'collapse-' + book.id" class="accordion-collapse collapse" :aria-labelledby="'heading-' + book.id" data-bs-parent="#at">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li v-for="chapter in book.chapters" :key="chapter.id">
                                    <a  v-if="chapter.number != 0" :href="'/book/' + book.title + '/chapter/' + chapter.number + '/'" class="list-group-item list-group-item-action">
                                        <span>{{book.title}} {{chapter.number}}</span>
                                    </a>
                                    <a :href="'/book/' + book.title + '/chapter/' + chapter.number + '/'" class="btn btn-outline-primary list-show-link" :title="book.title + ' ' + chapter.number + ' lesen'">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                        </svg>
                                    </a>
                                    <a :href="'https://docs.google.com/document/d/' + chapter.guid" class="btn btn-outline-primary list-google-edit-link" :title="book.title + ' ' + chapter.number + ' auf GoogleDocs bearbeiten'" target="_blank" rel="noopener">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                                            <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </base-layout>
</template>

<script>
import { Link } from "@inertiajs/inertia-vue3";

export default {
    components: {
        Link,
    },
    props: {
        books: Object,
    },
    computed: {
        orderedBooks: function () {
            const nt = _.orderBy(this.books.data.NT, 'id');
            const at = _.orderBy(this.books.data.AT, 'id');
            return {"AT": at, "NT": nt};
        }
    }
};
</script>
