<template>

    <base-layout :page-title="pageTitle">

        <article class="random">
            <Link href="/random" title="Reload" id="reload-button" class="btn btn-outline-primary" as="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 512 512"><path d="M496 48V192c0 17.69-14.31 32-32 32H320c-17.69 0-32-14.31-32-32s14.31-32 32-32h63.39c-29.97-39.7-77.25-63.78-127.6-63.78C167.7 96.22 96 167.9 96 256s71.69 159.8 159.8 159.8c34.88 0 68.03-11.03 95.88-31.94c14.22-10.53 34.22-7.75 44.81 6.375c10.59 14.16 7.75 34.22-6.375 44.81c-39.03 29.28-85.36 44.86-134.2 44.86C132.5 479.9 32 379.4 32 256s100.5-223.9 223.9-223.9c69.15 0 134 32.47 176.1 86.12V48c0-17.69 14.31-32 32-32S496 30.31 496 48z"/></svg> RELOAD
            </Link>

            <template v-for="verse of chapter.data.verses" v-bind:key="verse.label">
                <div v-if="verse.label == 'headline'">
                    <h2 class="mt-3">{{verse.text.replace('ß','ss')}}</h2>
                </div>
                <div v-else class="verse-container">
                    <span class="verse">{{verse.label}}</span>
                    {{verse.text}}
                </div>
            </template>

            <vxb-copyright />
            <div id="submit-button-background"></div>
        </article>
    </base-layout>
</template>

<script>
    import { Link } from "@inertiajs/inertia-vue3";
    import VxbCopyright from './../components/CopyrightComponent.vue';
    import VxbText from './../components/TextComponent.vue';

    export default {
        components: {
            Link,
            VxbCopyright,
            VxbText
        },
        props: {
            chapter: Object
        },
        computed: {
            pageTitle () {
                return this.chapter.data.book.title + ' ' + this.chapter.data.number;
            },
            bookRoute () {
                return '/' + this.chapter.data.book.title + '/';
            },
        }
    };
</script>
