<template>
    <base-layout :page-title="pageTitle">
        <h2>Vers-Ansicht</h2>
        <article>
            <vxb-text :verses="verseCollection.data"/>
            <vxb-copyright />
        </article>
    </base-layout>
</template>

<script>
    import { Link } from "@inertiajs/inertia-vue3";
    import VxbCopyright from "../components/CopyrightComponent";
    import VxbText from "../components/TextComponent";

    export default {
        components: {
            Link,
            VxbCopyright,
            VxbText
        },
        props: {
            verseCollection: Object,
        },
        computed: {
            pageTitle () {
                return ' ';
            }
        }
    };
</script>
