@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/open-sans-v15-latin-regular.svg#Exo') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../../fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/open-sans-v15-latin-300.svg#Exo') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../../fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/open-sans-v15-latin-600.svg#Exo') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../../fonts/open-sans-v15-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../../fonts/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/open-sans-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/open-sans-v15-latin-800.svg#Exo') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'trashbox';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/trashbox.otf');
    src: local(''),
    url('../../fonts/trashbox.ttf') format('truetype')
}
