.random {
    .verse-container {
        position : relative;

        @include media-breakpoint-down(sm) {
            margin-left : rem-calc(30);
        }
    }

    .form-check-input {
        position : absolute;
        left     : rem-calc(-30);
    }
}

#reload-button {
    @include media-breakpoint-down(md) {
        width : 100%;
    }
}

#submit-button:not([disabled]) {
    z-index   : 10;
    position  : fixed;
    bottom    : rem-calc(10);
    left      : 50%;
    transform : translateX(-50%);

    @include media-breakpoint-down(md) {
        width : 90%;
    }

    + #submit-button-background {
        z-index    : 5;
        position   : fixed;
        bottom     : 0;
        left       : 0;
        width      : 100%;
        height     : rem-calc(75);
        background : rgb(0, 0, 0);
        background : linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 100%);
    }
}
