// Text styles

body {
    @include media-breakpoint-down(md) {
        font-size   : $font-size-base-sm;
        line-height : 1.4;
    }
}

h1 {
    position       : relative;
    display        : inline-block;
    margin-bottom  : rem-calc(30);
    font-family    : $font-family-sans-serif;
    font-weight    : 800;
    font-size      : rem-calc(60);
    color          : #fff;
    text-transform : uppercase;

    @include media-breakpoint-down(lg) {
        left      : 50%;
        transform : translateX(-50%);
        font-size : rem-calc(36);
    }

    span {
        z-index    : -1;
        position   : absolute;
        display    : block;
        bottom     : rem-calc(3);
        left       : rem-calc(-15);
        width      : calc(100% + 30px);
        height     : rem-calc(17);
        background : $primary;
        transform  : rotate(-1deg);
    }
}

h2 {
    margin-left : rem-calc(-20);
    font-size   : rem-calc(35);

    @include media-breakpoint-down(md) {
        margin-left : 0;
        text-align  : center;
    }
}

strong {
    font-weight : 600
}

p {
    .verse-container {
        display : inline;
        padding : .5rem 0
    }
}

// Links

.alert-secondary {
    a {
        font-weight : 700;
        color       : $secondary;

        &:hover {
            color : $primary;
        }
    }
}

.verse, a {
    color : $primary;
}

.verse {
    font-size : .75rem
}

article {
    max-width : $contentMaxWidth;
    margin    : auto;
}

.vxb-copyright {
    margin      : rem-calc(50 0 30);
    font-size   : rem-calc(13);
    line-height : 1.4;
    color       : #a8adfe;
}

.list-group {
    li {
        list-style : none;
    }
}

// Buttons
.btn-outline-primary {
    border-width : rem-calc(2);
}

.btn-primary {
    color : #fff;
}

// Pagination
.pagination {
    flex-wrap   : wrap;
    margin      : 0;
    padding-top : rem-calc(15);
    font-family : $headings-font-family;
    background  : $pagination-bg;

    .page-link {
        width         : rem-calc(77);
        padding-left  : 0;
        padding-right : 0;
        font-size     : rem-calc(30);
        text-align    : center;
        border-radius : 0;
    }

    .page-item.active .page-link {
        position       : relative;
        top            : rem-calc(-15);
        padding-bottom : rem-calc(11);
        font-size      : rem-calc(40);
    }
}

// Accordion

.accordion-header {
    font-family : $font-family-base;

    &[aria-expanded="true"] {
        font-weight : 700;
    }
}

.list-google-edit-link, .list-show-link {
    z-index  : 1;
    position : absolute;
    top      : rem-calc(8);
    right    : rem-calc(10);

    @include media-breakpoint-down(md) {
        top : rem-calc(7);
    }
}

.list-show-link {
    right : rem-calc(65);
}

.accordion-item {
    .list-group > li {
        position : relative;

        &:hover {
            .list-google-edit-link, .list-show-link {
                border-color : $white;
                color        : $white;
            }
        }
    }
}
