<template>
    <Head :title="headTitle" />

    <header id="header" class="mt-1">
        <div class="d-flex justify-content-center"><a href="/"><img src="./../../images/logo-white_trans.png" width="130" height="130" ></a></div>
    </header>

    <main class="container mt-5 mb-5">
        <h1>{{ pageTitle }}<span></span></h1>
        <slot />
    </main>

    <footer class="container mb-5">
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" rel="noopener" href="https://www.volxbibel.de/datenschutz.html">Datenschutz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" rel="noopener" href="https://www.volxbibel.de/impressum.html">Impressum</a>
                </li>
            </ul>
        </nav>
    </footer>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'

export default {
    components: {
        Head
    },
    props: {
        'pageTitle' : '',
    },
    computed: {
        headTitle() {
            return 'Die VOLXBIBEL lesen - ' + this.pageTitle;
        }
    }
}
</script>
