<template>
    <div class="vxb-copyright">
        <p>Dieses Dokument unterliegt der Creative-Commons-Lizenz "Namensnennung - NichtKommerziell - Weitergabe unter gleichen Bedingungen 2.0 Deutschland" (BY-NC-SA). Die Rechte zur Veröffentlichung der Volxbibel als gedruckte Buchausgabe, als Hörbuch und für jegliche anderen kommerzielle Verwendung bleiben Martin Dreyer vorbehalten. Dieser hat die Rechte wiederum vertraglich an den jeweiligen Verlag abgetreten. Vervielfältigungen auf Papier über 500 Seiten bedürfen einer Genehmigung der Verlage Pattloch Verlag (AT) & SCM Verlag (NT). <br>
            Mehr unter: <a href="https://www.volxbibel.de/Lizenzbestimmung">https://www.volxbibel.de/Lizenzbestimmung</a>
        </p>
        <img src="./../../images/volxbibel-cc-lizenz.png">
    </div>
</template>

<script>
    export default {

    }
</script>
