<template>
    <template v-for="verse of verses" v-bind:key="verse.label">
        <h2 v-if="verse.label == 'headline'" class="mt-3">{{verse.text.replace('ß','ss')}}</h2>
        <span v-else>
            <span class="verse">{{verse.label}}</span>
            {{verse.text}}
        </span>
    </template>
</template>

<script>
    export default {
        props: {
            verses: Object
        },
    }
</script>
